html {
    width: 100%;
    height: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div {
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    height: 100%;
    background-color: #FFEFB5;
}