.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.start-screen {
    max-width: 90%;
    background-color: #fff;
    padding: 5em;
    text-align: center;
}

.start-button {
    margin-top: 1em;
    padding: .5em 1em;
    font-size: 1.5em;
}

.gameboard-container {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
}

.footer-container {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}