.neighborhood {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #9C9CA5;
    border: 2px solid #000;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, .75);
    padding: .5em;
    position: relative;
}

.garden-container {
    width: 45%;
    height: 45%;
    float: left;
}

.street {
    background-color: #CE525A;
    position: relative;
}

.street.vertical {
    width: 10%;
    height: 45%;
    float: left;
}

.street.horizontal {
    height: 10%;
    width: 100%;
    clear: both;
}